.team-avatar.team-AL {
  background-image: url('/state-flags/AL.svg');
}
.team-avatar.team-AK {
  background-image: url('/state-flags/AK.svg');
}
.team-avatar.team-AZ {
  background-image: url('/state-flags/AZ.svg');
}
.team-avatar.team-AR {
  background-image: url('/state-flags/AR.svg');
}
.team-avatar.team-CA {
  background-image: url('/state-flags/CA.svg');
}
.team-avatar.team-CO {
  background-image: url('/state-flags/CO.svg');
}
.team-avatar.team-CT {
  background-image: url('/state-flags/CT.svg');
}
.team-avatar.team-DE {
  background-image: url('/state-flags/DE.svg');
}
.team-avatar.team-FL {
  background-image: url('/state-flags/FL.svg');
}
.team-avatar.team-GA {
  background-image: url('/state-flags/GA.svg');
}
.team-avatar.team-HI {
  background-image: url('/state-flags/HI.svg');
}
.team-avatar.team-ID {
  background-image: url('/state-flags/ID.svg');
}
.team-avatar.team-IL {
  background-image: url('/state-flags/IL.svg');
}
.team-avatar.team-IN {
  background-image: url('/state-flags/IN.svg');
}
.team-avatar.team-IA {
  background-image: url('/state-flags/IA.svg');
}
.team-avatar.team-KS {
  background-image: url('/state-flags/KS.svg');
}
.team-avatar.team-KY {
  background-image: url('/state-flags/KY.svg');
}
.team-avatar.team-LA {
  background-image: url('/state-flags/LA.svg');
}
.team-avatar.team-ME {
  background-image: url('/state-flags/ME.svg');
}
.team-avatar.team-MD {
  background-image: url('/state-flags/MD.svg');
}
.team-avatar.team-MA {
  background-image: url('/state-flags/MA.svg');
}
.team-avatar.team-MI {
  background-image: url('/state-flags/MI.svg');
}
.team-avatar.team-MN {
  background-image: url('/state-flags/MN.svg');
}
.team-avatar.team-MS {
  background-image: url('/state-flags/MS.svg');
}
.team-avatar.team-MO {
  background-image: url('/state-flags/MO.svg');
}
.team-avatar.team-MT {
  background-image: url('/state-flags/MT.svg');
}
.team-avatar.team-NE {
  background-image: url('/state-flags/NE.svg');
}
.team-avatar.team-NV {
  background-image: url('/state-flags/NV.svg');
}
.team-avatar.team-NH {
  background-image: url('/state-flags/NH.svg');
}
.team-avatar.team-NJ {
  background-image: url('/state-flags/NJ.svg');
}
.team-avatar.team-NM {
  background-image: url('/state-flags/NM.svg');
}
.team-avatar.team-NY {
  background-image: url('/state-flags/NY.svg');
}
.team-avatar.team-NC {
  background-image: url('/state-flags/NC.svg');
}
.team-avatar.team-ND {
  background-image: url('/state-flags/ND.svg');
}
.team-avatar.team-OH {
  background-image: url('/state-flags/OH.svg');
}
.team-avatar.team-OK {
  background-image: url('/state-flags/OK.svg');
}
.team-avatar.team-OR {
  background-image: url('/state-flags/OR.svg');
}
.team-avatar.team-PA {
  background-image: url('/state-flags/PA.svg');
}
.team-avatar.team-RI {
  background-image: url('/state-flags/RI.svg');
}
.team-avatar.team-SC {
  background-image: url('/state-flags/SC.svg');
}
.team-avatar.team-SD {
  background-image: url('/state-flags/SD.svg');
}
.team-avatar.team-TN {
  background-image: url('/state-flags/TN.svg');
}
.team-avatar.team-TX {
  background-image: url('/state-flags/TX.svg');
}
.team-avatar.team-UT {
  background-image: url('/state-flags/UT.svg');
}
.team-avatar.team-VT {
  background-image: url('/state-flags/VT.svg');
}
.team-avatar.team-VA {
  background-image: url('/state-flags/VA.svg');
}
.team-avatar.team-WA {
  background-image: url('/state-flags/WA.svg');
}
.team-avatar.team-WV {
  background-image: url('/state-flags/WV.svg');
}
.team-avatar.team-WI {
  background-image: url('/state-flags/WI.svg');
}
.team-avatar.team-WY {
  background-image: url('/state-flags/WY.svg');
}