<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You have been granted access to <%= @request.event.name %></h1>

You now can upload live results and import final results for Illinois FTC.
</body>
